[m]control_menu('down') <C-j>
[m]control_menu('up')   <C-k>
[m]control_menu(left)   <C-h>
[m]control_menu(right)  <C-l>

# Goto forward for one page width. (can be prefixed with a number)
next_page <C-n>
previous_page <C-p>
next_page;fit_to_page_smart l
previous_page;fit_to_page_smart h

# Goto the top side of page.
goto_top_of_page zt

# Goto page with page number
goto_page_with_page_number <C-g>

# Remap add_highlight (default h)
add_highlight H

# Remap overview_definition (default l)
overview_definition K
