## Background color to use when executing `toggle_custom_color`
custom_background_color 0.180 0.204 0.251
## Text color to use when executing `toggle_custom_color`
custom_text_color 0.847 0.871 0.914

# Use case-insensitive search
case_sensitive_search 0

# By default open in new sioyek window
should_launch_new_window 1
# Default commands to execute when starting sioyek
startup_commands toggle_custom_color;toggle_scrollbar;fit_to_page_height_smart


#! These next custom commands require the sioyek-python-extensions: https://github.com/ahrm/sioyek-python-extensions

# Download the paper name under cursor from google scholar or scihub and open the document
new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}" [Your Email, If Using Unpaywall]
control_click_command _download_paper

# Create a dual panel version of the current PDF file.
new_command _dual_panelify python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"
# Embed the sioyek bookmarks and highlights into the current file.
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
# Remove PDF annotations
new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"

# Create a new document with the highlights of the current document with pre-inserted portal into the corresponding location in the original document.
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

# Import PDF bookmarks and highlights into sioyek so that they are searchable.
new_command _import_annotations python -m sioyek.import_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"

# Add text annotations
new_command _add_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0
