# Keybindings config
#
# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # Yank also copies to system clipboard
  # { on = "y", run = [
  #   'shell -- echo "$@" | xclip -i -selection clipboard -t text/uri-list',
  #   "yank",
  # ] },
  # cd back to root of current git repo
  { on = [
    "g",
    "r",
  ], run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"', desc = "Go to git root" },
  # Eza preview
  { on = [
    "e",
    "t",
  ], run = "plugin eza-preview", desc = "Toggle tree/list dir preview" },
  { on = [
    "e",
    "-",
  ], run = "plugin eza-preview inc-level", desc = "Increment tree level" },
  { on = [
    "e",
    "_",
  ], run = "plugin eza-preview dec-level", desc = "Decrement tree level" },
  { on = [
    "e",
    "$",
  ], run = "plugin eza-preview toggle-follow-symlinks", desc = "Toggle tree follow symlinks" },
  { on = [
    "e",
    "*",
  ], run = "plugin eza-preview toggle-hidden", desc = "Toggle hidden files" },
  { on = [
    "e",
    "g",
    "i",
  ], run = "plugin eza-preview toggle-git-ignore", desc = "Toggle .gitignore files" },
  { on = [
    "e",
    "g",
    "s",
  ], run = "plugin eza-preview toggle-git-status", desc = "Toggle showing git status" },
  # Lazygit
  { on = [
    "g",
    "i",
  ], run = "plugin lazygit", desc = "Lazygit" },
  # Copy file contents
  { on = "<A-y>", run = [
    "plugin copy-file-contents",
  ], desc = "Copy contents of file" },

  { on = [
    "u",
  ], run = "plugin restore", desc = "Restore deleted files/folders" },

  # Select files/folders to restore. Input item index or range separated by comma:
  # - Restore a trashed file:
  #      What file to restore [0..4]: 4
  # - Restore multiple trashed files separated by comma, also support range:
  #      What file to restore [0..3]: 0-2, 3

  # This will throw error when there is existed file/folder
  { on = [
    "U",
  ], run = "plugin restore -- --interactive", desc = "Restore deleted (Interactive)" },
  # Or auto overwrite existed file/folder
  # { on = [
  #   "d",
  #   "U",
  # ], run = "plugin restore -- --interactive --interactive-overwrite", desc = "Restore deleted (Interactive overwrite)" },
  { on = [
    "R",
    "b",
  ], run = "plugin recycle-bin", desc = "Open Recycle Bin menu" },
  { on = [
    "R",
    "o",
  ], run = "plugin recycle-bin -- open", desc = "Open Trash" },
  { on = [
    "R",
    "e",
  ], run = "plugin recycle-bin -- empty", desc = "Empty Trash" },
  { on = [
    "R",
    "D",
  ], run = "plugin recycle-bin -- emptyDays", desc = "Empty by days deleted" },
  { on = [
    "R",
    "d",
  ], run = "plugin recycle-bin -- delete", desc = "Delete from Trash" },
  { on = [
    "R",
    "r",
  ], run = "plugin recycle-bin -- restore", desc = "Restore from Trash" },

  # Easyjump
  { on = [
    "i",
  ], run = "plugin easyjump", desc = "easyjump" },
]
